.primaryContentContainer {
    /* display: 'flex', flexWrap: 'wrap', justifyContent: 'center'  */
    display: flex;
    flex-wrap: wrap;
    justify-content: 'center';
    /* flex-direction: row; */
}